.formDiv{
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  background-color: #ecf0f3;
  padding:30px;
  border-radius: 5px;
  border:5px black;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
label{
  margin: 10px;
  width: 200px;
}
.btnForm {
  margin-top: 50px;
  width: 200px;
  margin-left: 25%;
}
h4{
  text-align: center;
  font-family: cursive;
  color: rgb(108, 117, 125);
  font-weight: bold;
}
