h1{
  color: rgb(68, 77, 77);  
}
.card{
  margin: 20px;
}
.card-body{
  background-color: rgb(247, 251, 252);
}
.rigtBox{
  float: right;
}
img{
  width: 200px;
  float: left;
  padding-right: 20px;
}
.disable{
  opacity: 0.5;
  background: #CCC;
}
.hide{
  display: none;
}
.cardHead:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}
.gridView{
  width: 18rem;
}