h1{
  color: rgb(68, 77, 77);  
}
.cardbutton{
  margin: 10px;
}
.card{
  margin: 20px;
}
.overflowGridImg{
  overflow: hidden;
}
.card-image{
  max-width:100%;
  max-height:100%;
  transform:scale(1);
  transition: transform 0.5s ease
}
.card-image:hover{
  transform: scale(1.5);
  }
.list-card-image{
  transform:scale(1);
  transition: transform 0.5s ease
}
.list-card-image:hover{
transform: scale(1.17);
}
.card-body{
  background-color: rgb(247, 251, 252);
}
.rigtBox{
  float: right;
  margin-right: 75px;
  margin-top: 10px;
}
.listimg{
  width: 200px;
  float: left;
  padding-right: 20px;
}
.disable{
  opacity: 0.5;
  background: #CCC;
}
.hide{
  display: none;
}
.cardHead{
  color: rgb(19, 13, 7);
  text-decoration:none;
}
.cardHead:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}
.gridView{
  width: 15rem;
  text-align: center;
}
.mainGrid{
  text-align: center;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 1.5em;
}