
.logo {
    height: 70px;
    padding-left: 20px;
} 
.line1{
    margin-left: 20%;
    /* float: right; */
}
.line2{
    text-align: center;
    margin-right: 5%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #d6dadd, #ebf0f3);
}
.selector{
    width: 200px;
    margin: 20px;
}