
.logo {
    height: 64px;
    padding-left: 20px; 
} 

.navbarpadding{
    padding-right: 10px;
}
.line1{
    margin-top: 20px;  
}
.line2{
    float: right;
    text-align: center;
    background-image: linear-gradient(to bottom, #a3c6e0, #ebf0f3);
}
.selector{
    margin: 5px;
}
.divBg{
    background-image: linear-gradient(to bottom, #a3c6e0, #ebf0f3);
}
.gridbtn{
    margin-left: 10px;
}
